@theme inline {
  --color-nyx-light-bg: oklch(from #faf9f5 l c h);
  --color-nyx-light-bg-dark: oklch(from #faf9f6 l c h);
  --color-nyx-light-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-nyx-light-bg-float: var(--color-nyx-light-bg-dark);
  --color-nyx-light-bg-highlight: oklch(from #ebebeb l c h);
  --color-nyx-light-bg-popup: var(--color-nyx-light-bg-dark);
  --color-nyx-light-bg-search: var(--color-nyx-light-blue0);
  --color-nyx-light-bg-sidebar: var(--color-nyx-light-bg-dark);
  --color-nyx-light-bg-statusline: var(--color-nyx-light-bg-dark);
  --color-nyx-light-bg-visual: oklch(from #aeaeab l c h);
  --color-nyx-light-black: oklch(from #c8c7c4 l c h);
  --color-nyx-light-black-bright: oklch(from #ebebeb l c h);
  --color-nyx-light-blue: oklch(from #0A89FF l c h);
  --color-nyx-light-blue-bright: oklch(from #0253be l c h);
  --color-nyx-light-blue0: oklch(from #0253be l c h);
  --color-nyx-light-blue1: oklch(from #0253be l c h);
  --color-nyx-light-blue2: oklch(from #0253be l c h);
  --color-nyx-light-blue5: oklch(from #0A89FF l c h);
  --color-nyx-light-blue6: oklch(from #0A89FF l c h);
  --color-nyx-light-blue7: oklch(from #0A89FF l c h);
  --color-nyx-light-border: var(--color-nyx-light-black);
  --color-nyx-light-border-highlight: oklch(from #3474c9 l c h);
  --color-nyx-light-comment: oklch(from #969ba5 l c h);
  --color-nyx-light-cyan: oklch(from #5abfb5 l c h);
  --color-nyx-light-cyan-bright: oklch(from #5abfb5 l c h);
  --color-nyx-light-dark3: oklch(from #3d3d3d l c h);
  --color-nyx-light-dark5: oklch(from #101010 l c h);
  --color-nyx-light-diff-add: oklch(from #c3e4ca l c h);
  --color-nyx-light-diff-change: oklch(from #e2eef6 l c h);
  --color-nyx-light-diff-delete: oklch(from #d8c0bd l c h);
  --color-nyx-light-diff-text: var(--color-nyx-light-blue7);
  --color-nyx-light-error: var(--color-nyx-light-red1);
  --color-nyx-light-fg: oklch(from #101010 l c h);
  --color-nyx-light-fg-dark: oklch(from #3d3d3d l c h);
  --color-nyx-light-fg-float: var(--color-nyx-light-fg);
  --color-nyx-light-fg-gutter: oklch(from #ebebeb l c h);
  --color-nyx-light-fg-sidebar: var(--color-nyx-light-fg-dark);
  --color-nyx-light-git-add: oklch(from #407f00 l c h);
  --color-nyx-light-git-change: oklch(from #0A89FF l c h);
  --color-nyx-light-git-delete: oklch(from #ca0043 l c h);
  --color-nyx-light-git-ignore: var(--color-nyx-light-dark3);
  --color-nyx-light-green: oklch(from #407f00 l c h);
  --color-nyx-light-green-bright: oklch(from #5abfb5 l c h);
  --color-nyx-light-green1: oklch(from #407f00 l c h);
  --color-nyx-light-green2: oklch(from #019833 l c h);
  --color-nyx-light-hint: var(--color-nyx-light-teal);
  --color-nyx-light-info: var(--color-nyx-light-blue2);
  --color-nyx-light-magenta: oklch(from #f2a4db l c h);
  --color-nyx-light-magenta-bright: oklch(from #f2a4db l c h);
  --color-nyx-light-magenta2: oklch(from #f2a4db l c h);
  --color-nyx-light-orange: oklch(from #FF7038 l c h);
  --color-nyx-light-purple: oklch(from #f2a4db l c h);
  --color-nyx-light-rainbow1: var(--color-nyx-light-blue);
  --color-nyx-light-rainbow2: var(--color-nyx-light-yellow);
  --color-nyx-light-rainbow3: var(--color-nyx-light-green);
  --color-nyx-light-rainbow4: var(--color-nyx-light-teal);
  --color-nyx-light-rainbow5: var(--color-nyx-light-magenta);
  --color-nyx-light-rainbow6: var(--color-nyx-light-purple);
  --color-nyx-light-rainbow7: var(--color-nyx-light-orange);
  --color-nyx-light-rainbow8: var(--color-nyx-light-red);
  --color-nyx-light-red: oklch(from #ca0043 l c h);
  --color-nyx-light-red-bright: oklch(from #701516 l c h);
  --color-nyx-light-red1: oklch(from #701516 l c h);
  --color-nyx-light-teal: oklch(from #5abfb5 l c h);
  --color-nyx-light-todo: var(--color-nyx-light-blue);
  --color-nyx-light-warning: var(--color-nyx-light-yellow);
  --color-nyx-light-yellow: oklch(from #b07700 l c h);
  --color-nyx-light-yellow-bright: oklch(from #b07700 l c h);
}