@theme inline {
  --color-nyx-darker-bg: oklch(from #101010 l c h);
  --color-nyx-darker-bg-dark: oklch(from #0c0c0c l c h);
  --color-nyx-darker-bg-dark1: oklch(from ${bg_dark1} l c h);
  --color-nyx-darker-bg-float: var(--color-nyx-darker-bg-dark);
  --color-nyx-darker-bg-highlight: oklch(from #272727 l c h);
  --color-nyx-darker-bg-popup: var(--color-nyx-darker-bg-dark);
  --color-nyx-darker-bg-search: var(--color-nyx-darker-blue0);
  --color-nyx-darker-bg-sidebar: var(--color-nyx-darker-bg-dark);
  --color-nyx-darker-bg-statusline: var(--color-nyx-darker-bg-dark);
  --color-nyx-darker-bg-visual: oklch(from #393939 l c h);
  --color-nyx-darker-black: oklch(from #0d0d0d l c h);
  --color-nyx-darker-black-bright: oklch(from #272727 l c h);
  --color-nyx-darker-blue: oklch(from #458ee6 l c h);
  --color-nyx-darker-blue-bright: oklch(from #8ebeec l c h);
  --color-nyx-darker-blue0: oklch(from #254365 l c h);
  --color-nyx-darker-blue1: oklch(from #8ebeec l c h);
  --color-nyx-darker-blue2: oklch(from #8ebeec l c h);
  --color-nyx-darker-blue5: oklch(from #8ebeec l c h);
  --color-nyx-darker-blue6: oklch(from #8ebeec l c h);
  --color-nyx-darker-blue7: oklch(from #254365 l c h);
  --color-nyx-darker-border: var(--color-nyx-darker-black);
  --color-nyx-darker-border-highlight: oklch(from #759bc0 l c h);
  --color-nyx-darker-comment: oklch(from #50585d l c h);
  --color-nyx-darker-cyan: oklch(from #5abfb5 l c h);
  --color-nyx-darker-cyan-bright: oklch(from #5abfb5 l c h);
  --color-nyx-darker-dark3: oklch(from #777777 l c h);
  --color-nyx-darker-dark5: oklch(from #b0b0b0 l c h);
  --color-nyx-darker-diff-add: oklch(from #113512 l c h);
  --color-nyx-darker-diff-change: oklch(from #121519 l c h);
  --color-nyx-darker-diff-delete: oklch(from #4c3232 l c h);
  --color-nyx-darker-diff-text: var(--color-nyx-darker-blue7);
  --color-nyx-darker-error: var(--color-nyx-darker-red1);
  --color-nyx-darker-fg: oklch(from #b0b0b0 l c h);
  --color-nyx-darker-fg-dark: oklch(from #777777 l c h);
  --color-nyx-darker-fg-float: var(--color-nyx-darker-fg);
  --color-nyx-darker-fg-gutter: oklch(from #272727 l c h);
  --color-nyx-darker-fg-sidebar: var(--color-nyx-darker-fg-dark);
  --color-nyx-darker-git-add: oklch(from #86cd82 l c h);
  --color-nyx-darker-git-change: oklch(from #458ee6 l c h);
  --color-nyx-darker-git-delete: oklch(from #ff7676 l c h);
  --color-nyx-darker-git-ignore: var(--color-nyx-darker-dark3);
  --color-nyx-darker-green: oklch(from #86cd82 l c h);
  --color-nyx-darker-green-bright: oklch(from #5abfb5 l c h);
  --color-nyx-darker-green1: oklch(from #86cd82 l c h);
  --color-nyx-darker-green2: oklch(from #14ba19 l c h);
  --color-nyx-darker-hint: var(--color-nyx-darker-teal);
  --color-nyx-darker-info: var(--color-nyx-darker-blue2);
  --color-nyx-darker-magenta: oklch(from #f2a4db l c h);
  --color-nyx-darker-magenta-bright: oklch(from #f2a4db l c h);
  --color-nyx-darker-magenta2: oklch(from #f2a4db l c h);
  --color-nyx-darker-orange: oklch(from #FF7038 l c h);
  --color-nyx-darker-purple: oklch(from #f2a4db l c h);
  --color-nyx-darker-rainbow1: var(--color-nyx-darker-blue);
  --color-nyx-darker-rainbow2: var(--color-nyx-darker-yellow);
  --color-nyx-darker-rainbow3: var(--color-nyx-darker-green);
  --color-nyx-darker-rainbow4: var(--color-nyx-darker-teal);
  --color-nyx-darker-rainbow5: var(--color-nyx-darker-magenta);
  --color-nyx-darker-rainbow6: var(--color-nyx-darker-purple);
  --color-nyx-darker-rainbow7: var(--color-nyx-darker-orange);
  --color-nyx-darker-rainbow8: var(--color-nyx-darker-red);
  --color-nyx-darker-red: oklch(from #701516 l c h);
  --color-nyx-darker-red-bright: oklch(from #ff9999 l c h);
  --color-nyx-darker-red1: oklch(from #ff9999 l c h);
  --color-nyx-darker-teal: oklch(from #5abfb5 l c h);
  --color-nyx-darker-todo: var(--color-nyx-darker-blue);
  --color-nyx-darker-warning: var(--color-nyx-darker-yellow);
  --color-nyx-darker-yellow: oklch(from #d9ba73 l c h);
  --color-nyx-darker-yellow-bright: oklch(from #d9ba73 l c h);
}